
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    margin-left: 50px;
    
  }

.btn-fav {
    border: none;
    margin-top: 3px;
    margin-left: auto;
}

.item-container {
    display: flex;
    white-space: nowrap;
    margin-left: auto;
  }

.link-fav{
    margin-left: 3px;
}


